$main-color: #409eff; //主色调
$bg-clr01:#0a2b4c; // 框架头部背景色
$font-clr01:#fff; // 字体颜色1
$font-clr02:#333; // 字体颜色2
$font-clr03:#45fffd;// 字体颜色3
$font-clr04:#606266;// 字体颜色4
$font-clr06:#909399; // 字体颜色6
$font-clr05:#afc0d0; // 字体颜色5
$font-clr07:#000; // 字体颜色7
$bg-clr02:#2f5377;// 侧边菜单颜色
$bg-clr03:#ebeef5; // 内容区域背景色
$bg-clr04:#fff; //区域背景色04
$bg-clr05:#0e3b67; // 背景色05
$bg-clr06:#0a2b4c; //背景色06
$bg-clr07:#f5f7fa; //背景色07
$bg-clr08:#f2f6fc; //背景色08
$border-clr01: #dcdfe6; // 边框色1
$border-clr02: #000; // 边框色2
$border-clr03:#557fa7;// 边框色3
$success:#67c23a;  //成功色
$warn:#E6A23C;  // 警告色
$error:#F56C6C; // 错误色
$title-clr01:#aaff45;// 标题色
$main-color02:#498bce;
$tab-color01:#ff802c;//Tab删除图标背景色

$disable-clr01:#909399; // 禁用颜色